fastapi
uvicorn[standard]
python-multipart
pydantic
numpy
pandas
scikit-learn
torch
torchaudio
transformers
datasets
accelerate
evaluate
soundfile
librosa
faster-whisper
sentencepiece
protobuf
joblib
matplotlib
seaborn
tqdm
gdown
ffmpeg-python
